<div class="main row">
  <div class="col-12">

    <%= form_tag(search_path, :method => "get", :class => "form-inline" ) do %>
      <div class="form-row">
        <div class="input-group">
          <%= text_field_tag :terms, nil, { placeholder: "Search for . . .", class: "form-control" } %>
          <span class="input-group-addon">
            <%= submit_tag "Search", :name => nil, :class => "btn btn-secondary" %>
          </span>
        </div>
      </div>
    <% end %>

    <table class="table table-striped mt-5">
      <tbody>
        <%= render :partial => 'result', :collection => @results %>
      </tbody>
      <nav aria-label="Page navigation">
        <% if !@results.nil? %>
          <%= will_paginate @results, renderer: BootstrapPagination::Rails  %>
        <% else %>
          <p class="empty">No results yet.</p>
        <% end %>
      </nav>
    </table>

  </div>
</div>

